@keyframes moving {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(100px);
  }
}

body {
  margin: 0 auto;
  overflow-X: hidden;
  overflow-Y: hidden;
}

.container {
  text-align: center;
  height: 100vh;
  width: 100%;
  /*animation-name: moving;
  animation-duration: 2s;
  -webkit-transform: translateX(100px);*/
  display: flex;
}

.box {
  border: 1px black solid;
  width: 25vw;
  height: 100%;
}

